@charset "utf-8";
/* CSS Document */
html{font-size: 6.25%;}
body{ margin:auto; padding:0; font-family:"Microsoft Yahei";}
a{ text-decoration:none;color:#000;}
h1,h2,h3,h4,h5,h6, p, h3, ul{margin:0px; padding:0px; font-weight:normal;}
li{ list-style:none;}
img{ border:0px;vertical-align: middle;}
.clear{ clear:both; height:0px;}
.right{ float:right;}
*[hidden]{ display:none;}

.dialog{width:44%;height:200px;position:fixed; z-index:12;left:50%;top:50%;margin-left:-22%;margin-top:-100px;text-align:center;border-radius:5px;box-shadow:0px 0px 5px #000;    background-color: rgba(255, 255, 255, 0.56);display:none;}
.dialog a{position:absolute;right:0px;top:0px;right: -1rem; top: -2rem;font-size: 50rem; color: #ccc;}
.dialog span{font-size:20rem;line-height:200px;}